@{
	//
}

@model VideoGame

<div class="border text-center">
	<img src="@Model.Image" height="325" />
	<p>Title: @Model.Title</p>
	<p>Platform: @Model.Platform</p>
	<p>Genre: @Model.Genre</p>
	<p>ESRB Rating: @Model.ESRBRating</p>
	<p>Year: @Model.Year</p>
	@if(Model.LoanedTo == null) {
		<form asp-controller="Game" asp-action="Collection" method="post">
			<input hidden type="text" name="ID" value="@Model.ID" />
			<div class="row">
				<div class="col-8">
					<input type="text" name="LoanedTo" class="form-control" />
				</div>
				<div class="col-4">
					<button type="submit" class="btn btn-primary">Loan Game</button>
				</div>
			</div>
		</form>
	} else {
		<div class="row">
			<div class="col-8">
				<p>Loaned out to <b>@Model.LoanedTo</b> on <b>@Model.LoanDate.Value.ToShortDateString()</b></p>
			</div>
			<div class="col-4">
				<form asp-controller="Game" asp-action="Collection" method="post">
					<input hidden type="text" name="ID" value="@Model.ID" />
					<input hidden type="reset" name="LoanedTo" value="null" />
					<button type="submit" class="btn btn-primary">Return Game</button>
				</form>
			</div>
		</div>
	}
</div>
